{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
   <h2>Detail page</h2>
  </div>
{% endblock header %}

{% block content %}

{% if user.is_authenticated %}<!trueかFalseで返ってくる。Trueは下記実行>
<div class='container'>
    <div class="alert alert-success" role="alert">
        <!--<p>タイトル:{{ object.title }}</p>--><!modelsやつを引っ張ってくる>
        <p>投稿者:{{ object.author }}</p>
        <p><img src = "{{ object.sns_image.url }}"width=500></p>
        <a href="{% url 'good' object.pk %}" class="btn btn-primary " role="button" aria-disabled="true">GOOD</a>
        <a href="{% url 'read' object.pk %}" class="btn btn-secondary " role="button" aria-disabled="true">READ</a>
        {% if user.username == object.author %} <!-- 投稿者本人の場合のみ削除ボタンを表示 -->
        <a href="{% url 'delete' object.pk %}" class="btn btn-danger" role="button" aria-disabled="true">削除</a>
        {% endif %}
    </div>
    <div class="mt-2">
        <a href="{% url 'list' %}" class="btn btn-sm btn-secondary">BACK</a>
      </div>
      
</div>
{% else %}<!Falseの場合>
<p>Please login: <a href="{% url 'login' %}">HERE</a></p>
{% endif %}

{% endblock content %}