{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
   <h2>SNS</h2>
  </div>
{% endblock header %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create' %}">Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Notion Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              職務経歴書
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'download_link1' %}">職務経歴書ダウンロード</a></li>
              <li><a class="dropdown-item" href="{% url 'download_link2' %}">履歴書ダウンロード</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<!-- <a class="btn btn-primary" href="{% url 'create' %}" role="button">POST</a> -->

{% if user.is_authenticated %}<!trueかFalseで返ってくる。Trueは下記実行>
<div class='container'>
    {% for item in object_list %}<!views経由のmodel>
    <div class="alert alert-success" role="alert">
        <p>投稿者:{{ item.author }}</p>
        <p>内容:{{ item.content }}</p>  <!-- ここで投稿の内容を表示 -->
        <a class="btn btn-primary" href="{% url 'detail' item.pk %}" role="button">詳細</a><!modelsやつを引っ張ってくる>
        <a class="btn btn-primary disabled"  role="button" aria-disabled="true">GOOD{{item.good}}件</a>
        <a class="btn btn-secondary disabled"  role="button" aria-disabled="true">READ{{item.read}}人</a>
    </div>
    {%endfor%}
    <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-dark" href="{% url 'logout' %}">Logout</a>
    </div> -->

</div>
{% else %}<!Falseの場合>
<p>Please login: <a href="{% url 'login' %}">HERE</a></p>
{% endif %}

{% endblock content %}