{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
   <h2>社内SNS</h2>
  </div>
{% endblock header %}

{% block content %}
<a class="btn btn-primary" href="{% url 'create' %}" role="button">POST</a>

{% if user.is_authenticated %}<!trueかFalseで返ってくる。Trueは下記実行>
<div class='container'>
    {% for item in object_list %}<!views経由のmodel>
    <div class="alert alert-success" role="alert">
        <p>投稿者:{{ item.author }}</p>
        <a class="btn btn-primary" href="{% url 'detail' item.pk %}" role="button">詳細</a><!modelsやつを引っ張ってくる>
        <a class="btn btn-primary disabled"  role="button" aria-disabled="true">GOOD{{item.good}}件</a>
        <a class="btn btn-secondary disabled"  role="button" aria-disabled="true">READ{{item.read}}人</a>
    </div>
    {%endfor%}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-dark" href="{% url 'logout' %}">Logout</a>
    </div>

</div>
{% else %}<!Falseの場合>
<p>Please login: <a href="{% url 'login' %}">HERE</a></p>
{% endif %}

{% endblock content %}