<!DOCTYPE html>
<html>
<head>
    <title>Google Sign-In Test</title>
</head>
<body>
    <div id="g_id_onload"
         data-client_id="400933582445-gtabqlma3a9qlvrfteatt18iu7q39kju.apps.googleusercontent.com"
         data-ux_mode="redirect"
         data-login_uri="https://hamada-dev.com/google_signup/"
         data-auto_prompt="false">
    </div>
    <div class="g_id_signin" data-type="standard"></div>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
</body>
</html>